$step-height: 72px;

$large-spacing: $step-height / 2; //36px
$medium-spacing: $step-height / 6; //12px
$small-spacing: $step-height / 9; //8px

md-steppers {
    display: block;

    md-step {
        //hide everything here to avoid UI flickering on load
        display: none;
        //display: block;
    }

    md-steppers-content-wrapper {
        display: block;
        // box-shadow: 0 0 3px rgba(0,0,0,0.25);
        // position: relative;
        // z-index: 0;
    }

    md-steppers-label-wrapper {
        display: block;
        // box-shadow: 0 0 2px rgba(0,0,0,0.25);
        // position: relative;
        // z-index: 1;
    }

    md-step-item {
        display: block;
        position: relative;
        height: 72px;
        line-height: 72px;
        cursor: pointer;
        &:focus{
            outline: none;
        }

        &:before,
        &:after {
            content: '';
            display: block;
            margin: $large-spacing 0 $large-spacing 0;
            height: 0;
            border-radius: 1px;
            flex: auto;
            box-shadow: 0 0 0 1px #CCC;
            //height: 2px;
            //background:  #CCC;
        }

        &:before {
            margin: $large-spacing 0 $large-spacing 0;
        }

        &:first-child:before {
            //display: none !important;
            visibility: hidden;
            max-width: 16px;
        }

        &:last-child:after {
            //display: none !important;
            visibility: hidden;
            max-width: 16px;
        }

        md-step-index {
            display: block;
            font-size: 12px;
            color: #FFF;
            background: #CCC;
            width: 24px;
            height: 24px;
            line-height: 24px;
            padding: 0;
            text-align: center;
            border-radius: 50%;
            margin: 24px $small-spacing;
            margin-right: $small-spacing;
            font-family: inherit;
            flex-grow: 0;
            flex-shrink: 0;
            align-content: center;
            fill: #FFF;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            & ~ * {
                margin-right: $small-spacing;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .md-step-caption {
            opacity: 1;
        }
        &.md-optional {
            line-height: normal;

            .md-step-caption {
                line-height: 16px;
                display: block;
                height: 16px;
                padding-top: ($step-height / 2 - 16px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
            }

            .md-step-subheader {
                opacity: 0.75;
                line-height: normal;
                display: block;
                height: $step-height / 2;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }
        }
        
        &.md-active {
            .md-step-caption {
                opacity: 1;
                //font-weight: bold;
            }

            md-step-index,
            md-icon {
                background-color: #0024ff;
            }
        }
        
        &.md-complete {
            cursor: default;
            .md-step-caption {
                opacity: 1;
            }
            md-step-index {
                background-color: #0024ff;
                background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20style%3D%22width%3A24px%3Bheight%3A24px%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M11%2C16.5L18%2C9.5L16.59%2C8.09L11%2C13.67L7.91%2C10.59L6.5%2C12L11%2C16.5Z%22%20/%3E%3C/svg%3E");
                background-position: center center;
                text-indent: 100%;
            }
        }

        &.md-editable:not(.md-disabled):not(.md-active) {
            .md-step-caption {
                opacity: 1;
            }
            md-step-index {
                background-color: #0024ff;
                background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20style%3D%22width%3A24px%3Bheight%3A24px%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22m11.83104%2C8.61896l3.69%2C3.69l-5.76%2C5.76l-3.47%2C-0.22l-0.22%2C-3.47l5.76%2C-5.76zm2.95%2C-2.95l-2.03%2C2.03l3.69%2C3.69l2.03%2C-2.03l-3.69%2C-3.69z%22%20fill%3D%22%23FFF%22/%3E%3C/svg%3E");
                background-position: center center;
                text-indent: 100%;
            }
        }
        
        &.md-disabled {
            cursor: default;
        }
        
        .md-ripple-container {
            background: transparent!important;
            opacity: 0.5;
        }
    }
    
    
    .md-step-content-wrapper {
        .md-step-template {
            padding: 24px;
        }
    }

    .md-step-actions {
        margin: 0 24px 24px 24px;
        .md-button {
                margin-right: 0;
            .md-primary{
                margin-left: 0;
            }
        }
    }
    
    .md-vertical-steppers {
        md-step-item {
            .vertical-step-index-wrapper{
                margin-left: 16px;
                margin-right: 4px;
                md-step-index {
                    margin-bottom: 8px;
                    margin-top: 8px;
                }
                &:before,
                &:after {
                    content: '';
                    display: block;
                    margin: 0 auto;
                    height: 0;
                    border-radius: 1px;
                    flex: auto;
                    box-shadow: 0 0 0 1px #CCC;
                }
            }
            &:before {
                display: none;
            }

            &:after {
                display: none;
            }
            
             &.md-optional {
                line-height: normal;

                .md-step-caption {
                    padding-top: 28px;
                    white-space: nowrap;
                }

                .md-step-subheader {
                    font-size: normal;
                }
            }
        }
        .md-step-content-wrapper {
            &:before{
                content: '';
                width: 0;
                margin: 0 24px 0 36px;
                box-shadow: 0 0 0 1px #CCC;
                flex-grow: 0;
                flex-shrink: 0;
                align-content: center;
            }
            &:after{
                content: '';
                width: 24px;
            }
            .md-step-template {
                padding:0 0 8px 0;
            }
        }
        
        .md-step-actions {
            margin: 0;
            .md-button {
                 margin-right: 0;
                .md-primary{
                    margin-left: 0;
                }
            }
        }
    }
    
    md-step-content:first-of-type .vertical-step-index-wrapper:before{
        visibility: hidden;
    }
    
    md-step-content:last-of-type :not(.md-active) .vertical-step-index-wrapper:after{
        visibility: hidden;
    }
    md-step-content:last-of-type .md-step-content-wrapper:before {
        margin-bottom: 8px;
    }
}
